#title {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--green-light);
}

#entry_form {
  margin-bottom: 4rem;
}

.form-buttons {
  margin: 0 auto;
}