main{
  max-width: 500px;
  padding: 10rem 0;
}

#name_input_box {
  margin-bottom: 2rem;
  padding: .5rem 0;
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}

#name_input_box.show {
  opacity: 1;
  pointer-events: all;
}

#name_input_box i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}

#projects_container {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.project-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding: .5rem 1rem;
  border-radius: var(--radius);
  border: 3px solid var(--orange);
  transition: var(--transition);
  cursor: pointer;
}

.project-bar.prod {
  border-color: var(--green);
}

.project-bar:hover {
  background-color: var(--orange-light);
}

.project-bar.prod:hover {
  background-color: var(--green-light);
}

.project-bar:active {
  filter: brightness(.85);
}

.project-bar>span {
  font-weight: 600;
}