.title-box {
  padding: 1rem 0;
  text-align: center;
  background-color: var(--orange-light);
}

.title-box span {
  font-size: 1.2rem;
  font-weight: 600;
}

.title-box span:last-child {
  color: gray;
}

.production-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
}

.production-box>p {
  padding: 0 1rem;
  text-align: justify;
}

#production_btn {
  border: 2px solid var(--red);
  background-color: #fff;
  color: #000;
  font-weight: 600;
}

#production_btn:hover {
  background-color: var(--red);
  color: #fff;
}

#ctrl_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  row-gap: .75rem;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: 0 0 7px 4px #0000002f;
}

#ctrl_form .form-control {
  padding: 0;
  border-bottom: none;
}

#opt_hint {
  margin-left: 2rem;
  font-style: italic;
}

#name_err {
  margin-left: 2rem;
  color: var(--red);
  font-size: .9rem;
  font-weight: 600;
}

#guify_locker_overlay>p {
  padding: 1rem;
  border-radius: var(--radius);
  border: 3px solid var(--green);
  background-color: #fff;
  font-weight: 600;
  box-shadow: 0 0 7px 4px #0000002f;
  text-align: center;
  line-height: 1.5;
}