<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../scripts/entry-form.js" type="module" defer></script>
  <link rel="stylesheet" href="../media/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/entry-form.css">
  <title>Neuer Eintrag</title>
</head>

<body>
  <p id="title"></p>

  <main>
    <form id="entry_form">
      <div id="ctrls_container"></div>

      <div class="form-buttons">
        <input type="submit" class="guify-button" value="Speichern" disabled>
        <input type="reset" class="guify-button red-button" value="Zurücksetzen">
      </div>
    </form>
  </main>

  <p id="snack_bar"></p>
</body>

</html>