<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../scripts/gui-form.js" type="module" defer></script>
  <link rel="stylesheet" href="../media/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/gui-form.css">
  <title>Guify</title>
</head>

<body>

  <form id="entry_form">
    <div id="ctrls_container"></div>

    <div class="action-buttons">
      <button type="submit">Speichern</button>
    </div>
  </form>
  <p id="snack_bar"></p>
</body>

</html>