<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../scripts/index.js" type="module" defer></script>
  <link rel="stylesheet" href="../media/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/index.css">
  <title>Guify</title>
</head>

<body>
  <div id="main">
    <button class="guify-button" id="new_gui_btn">
      Neues Projekt
      <i class="bi bi-database-add"></i>
    </button>

    <div id="name_input_box">
      <input type="text" class="guify-input" name="newGuiName" id="name_input" placeholder="Name des Projekts" disabled>
      <i class="bi bi-x-circle" id="close_name_btn"></i>
    </div>

    <div id="guis_container"></div>
  </div>

  <p id="snack_bar"></p>
</body>

</html>