<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../scripts/project-editor.js" type="module" defer></script>
  <link rel="stylesheet" href="../media/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/project-editor.css">
  <title>Project Bearbeiten</title>
</head>

<body>
  <header>
    <p class="title-box">
      <span id="title"></span>
      <span>Entwicklungsmodus</span>
    </p>
  </header>
  <main>
    <button id="new_ctrl_btn" class="guify-button">
      New Frage
      <i class="bi bi-plus-square"></i>
    </button>

    <div class="form-control">
      <div class="tool-bar">
        <span class="var-name">Variable: entry_id*</span>
      </div>
      <label for="entry_id">Eintrag-ID</label>
      <input type="text" class="guify-input" name="entry_id" id="entry_id" disabled
        placeholder="Dieses Eingabefeld ist obligatorisch und kann nicht geändert werden">
    </div>

    <div id="ctrls_container"></div>
  </main>

  <footer>
    <div class="production-box">
      <p>
        Das Projekt befindet sich noch im Entwicklungsmodus. Hier können Sie die Fragen bearbeiten. Wechseln Sie
        in den Produktionsmodus, um mit der Datenakquise zu beginnen. Danach können Sie die
        Fragen nicht mehr bearbeiten. Dieser Schritt kann nicht rückgängig gemacht werden.
      </p>

      <button id="production_btn" class="guify-button red-button">
        Zum Produktionsmodus Wechseln
        <i class="bi bi-arrow-repeat"></i>
      </button>
    </div>
  </footer>

  <div class="overlay" id="ctrl_form_overlay">
    <form id="ctrl_form">
      <input type="hidden" name="guify_ctrl_id" id="guify_ctrl_id">

      <div class="form-control">
        <label for="guify_ctrl_type">Fragetyp</label>
        <select class="guify-input" name="guify_ctrl_type" id="guify_ctrl_type" required>
          <option value="" hidden selected disabled></option>
          <option value="text">Text (klein)</option>
          <option value="textArea">Textfeld (groß)</option>
          <option value="number">Nummer</option>
          <option value="select">Dropdown (Einfachauswahl)</option>
          <option value="radio">Radio (Einfachauswahl)</option>
          <option value="checkbox">Checkbox (Mehrfachauswahl)</option>
          <option value="date">Datum</option>
          <option value="time">Zeit</option>
        </select>
      </div>

      <div class="form-control">
        <label for="guify_ctrl_name">
          Variablenname
          <small id="name_err"></small>
        </label>
        <input type="text" class="guify-input" name="guify_ctrl_name" id="guify_ctrl_name" maxlength="20" required>
      </div>

      <div class="form-control">
        <label for="guify_ctrl_label">Inhalt</label>
        <textarea class="guify-input" name="guify_ctrl_label" id="guify_ctrl_label" required></textarea>
      </div>

      <div class="form-control">
        <label for="guify_ctrl_choices">
          Auswahlmöglichkeiten
          <small id="opt_hint">Wert = Option</small>
        </label>
        <textarea class="guify-input" name="guify_ctrl_choices" id="guify_ctrl_choices" disabled></textarea>
      </div>

      <div class="form-control inline-control">
        <label>Pflichtfeld</label>
        <div class="radios-wrapper inline-radios">
          <div class="radio-container">
            <input type="radio" name="guify_ctrl_required" id="guify_ctrl_required_1" value="1" required>
            <label for="guify_ctrl_required_1">Ja</label>
          </div>
          <div class="radio-container">
            <input type="radio" name="guify_ctrl_required" id="guify_ctrl_required_0" value="0" required>
            <label for="guify_ctrl_required_0">Nein</label>
          </div>
        </div>
      </div>

      <div class="form-buttons">
        <input type="submit" class="guify-button" value="Speichern" disabled>
        <input type="reset" class="guify-button red-button" value="Abbrechen">
      </div>

    </form>
  </div>

  <p id="snack_bar"></p>

  <div class="overlay" id="guify_locker_overlay">
    <p>
      Das Projekt is nun im Produktionsmodus und kann nicht mehr modifiziert werden.<br>
      Bitte schließen Sie dieses Fenster und rufen das Projekt wieder auf, um mit der Datenakquise zu
      beginnen.
    </p>
  </div>

</body>

</html>